# Dataset (terlalu besar untuk GitHub)
Aksara Ulu Rejang.v4-fix.yolov8/
Aksara Ulu Rejang.v4-fix.multiclass/
Aksara Ulu Rejang.v4-fix.tensorflow/
Aksara Ulu Rejang.v4-fix.openai/
dataset/

# Model hasil training
models/best.pt
models/last.pt
runs/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
venv311/
*.egg-info/

# Logs & hasil
logs/
results/
training_log.txt

# OS
.DS_Store
Thumbs.db
